body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f4f4f4;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.encabezado-izq, .encabezado-centro, .encabezado-der {
  flex: 1;
  text-align: center;
}

.encabezado-izq a img {
  width: 140px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  transition: transform 0.3s ease;
}

.encabezado-izq a img:hover {
  transform: scale(1.1); /* Efecto hover para la imagen del logo */
}

.encabezado-der img {
  width: 120px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100vw;
  height: 100vh;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.carousel {
  position: relative;
  height: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 1s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.article-container {
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  align-center;
}

.grid-item {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
}

.grid-item img {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.grid-item article {
  margin: 0;
  padding-top: 10px;
  font-size: 1em;
  color: #333;
}