body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f4f4f4;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  height: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel {
  position: relative;
  height: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 1s ease;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.article-container {
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; /* Align the grid container to the center of the page */
  margin-top: 10px; /* Add a top margin of 10px */
}

.grid-item {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item h2 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
}

.grid-item img {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.grid-item article {
  margin: 0;
  padding-top: 10px;
  font-size: 1em;
  color: #333;
}

/* Media Queries */
@media (min-width: 600px) {
  .container {
    grid-template-columns: 60% 40%;
    height: 70vh;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li {
  margin: 5px;
}

.menu a {
  text-decoration: none;
  padding: 10px 20px;
  color: #000;

  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #eee;
}


.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #080E42;
  color: #FFC436;
  grid-area: pie;
}


.pie .iconos a {
  color: #0f838b;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.pie .iconos a:hover {
  color: #aaa;
}


