body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    display: grid;
    grid-template-areas: 
        "encabezado"
        "menu"
        "slider"
        "articulo"
        "pie";
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    width: 100%;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #080E42;
    background-color: azure;
    padding: 10px;
    grid-area: encabezado;
}

.encabezado img {
    max-width: 100%;
    height: auto;
}

.encabezado-centro h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

/* Barra de menú */
.menu {
    background-color: #080E42;
    text-align: center;
    grid-area: menu;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu li a {
    color: #FFC436;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu li a:hover {
    background-color: #191d88;
    animation: boton-menu 1s 3;
}

@keyframes boton-menu {
    0% { transform: scaleX(1.0); }
    50% { transform: scaleX(1.15); }
    100% { transform: scaleX(1.0); }
}

/* Slider */
.slider {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    grid-area: slider;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 30s infinite alternate-reverse;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
    transition: transform 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%, 15% { transform: translateX(0%); }
    16%, 26% { transform: translateX(-100%); }
    28%, 36% { transform: translateX(-200%); }
    38%, 46% { transform: translateX(-300%); }
    48%, 53% { transform: translateX(-400%); }
    55%, 63% { transform: translateX(-500%); }
    65%, 73% { transform: translateX(-600%); }
    75%, 83% { transform: translateX(-700%); }
    85%, 100% { transform: translateX(-800%); }
}

/* Artículos */
.articulo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    grid-area: articulo;
}

.articulo div {
    margin: 10px 0;
}
.articulo h3{
    color: #044672;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    
}
.articulo img {
    width: 400px;
    height: 240px;
}
.articulo p{
    color: #044672;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fff;
    
}
/* Pie de página */
.pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #080E42;
    color: #FFC436;
    text-align: center;
    grid-area: pie;
}

.iconos {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.iconos a {
    font-size: 22px;
}

/* Media Queries */
@media (min-width: 600px) {
    .contenedor {
        grid-template-rows: auto auto auto auto auto;
    }

    .articulo {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 900px) {
    .slider {
        height: 70vh;
    }

    .articulo {
        flex-direction: row;
    }
}
