body {
    font-family: Helvetica, sans-serif;
    font-size: 14x;
    margin: 10px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header1 h1 {
    color: #080E42;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #044672;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #044672;
    font-size: 16px;
    margin-bottom: 8px;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc;
    margin-left: 10px;
}

li {
    margin-bottom: 5px;