body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.carousel {
    width: 20%;
    height: 400px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 300%; /* 100% por cada imagen */
    height: 100%;
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
    transition: transform 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(0%); }
    38% { transform: translateX(-100%); }
    71% { transform: translateX(-100%); }
    76% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}
